<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add IPs</title>
</head>
<body>
<div th:each="ipS : ${ipSs}">
    <a th:href="@{/ipSs/{id}(id=${ipS.getId()})}"><p th:text="${ipS.getName()}"</p></a>
</div>

<br/>

<form  th:method="GET" th:action="@{/servers}">
    <input type="submit" value="Servers Page"/>
</form>
<!--<div th:each="product : ${products}">-->
<!--    <div th:if="${product.getBuyer() == null}">-->
<!--        <div>-->
<!--            <img th:src="@{/imagesByProduct/{id}.0.png(id=${product.getId()})}" width="140" height="140">-->
<!--        </div>-->
<!--        <a th:href="@{/product/{id}(id=${product.getId()})}"><p th:text="${product.getTitle()}"</p></a>-->
<!--        <p th:text="${product.getPrice() + ', ' + product.getShort_description()}">product</p>-->
<!--        <br/>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>