<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show IP</title>
</head>
<body>

<p th:text="${ipS.getId()}">Id</p>
<p th:text="${ipS.getName()}">Name</p>
<p th:text="${ipS.getServer().getName()}">Server</p>
<p th:text="${ipS.getCreatedAt()}">CreatedAt</p>

<form th:method="DELETE" th:action="@{/ipSs/{id}(id=${ipS.getId()})}">
    <input type="submit" value="Delete IP"/>
</form>

<br/>

<form  th:method="GET" th:action="@{/servers}">
    <input type="submit" value="Servers Page"/>
</form>
</body>
</html>